In [1]:
import pandas as pd
df = pd.read_excel('./데이터정제/df_train.xlsx')

In [2]:
df

                                                  phrase       aspect  score
0                  주어진 업무를 성실하게 수행하며, 정해진 기한내에 업무를 마무리 함    diligence     86
1                         성실하고 부지런하며, 맡은 바 임무를 완수하고자 노력함    diligence     86
2                                    매사에 열심히 일하는 모습이 돋보임    diligence    100
3                    정해진 시간보다 일찍 출근하고 늦게 퇴근하는 등 성실하게 근무함    diligence     66
4                          맡은 바 임무를 충실히 수행하며, 시간약속을 잘 지킴    diligence     81
...                                                  ...          ...    ...
59991                        다른 사람들과 협력하여 함께 일하는 것을 어려워함  cooperation     22
59992  다른 사람들과 함께 일하는 것을 좋아하며, 타인에게 도움을 주고자 하는 이타적인 성...  cooperation     55
59993            다른 사람들을 이해하고 배려할 줄 알며, 협력하여 좋은 결과를 이끌어냄  cooperation     65
59994           동료들과 협력하여 함께 목표를 달성하기 위해 노력하고, 적극적으로 참여함  cooperation     99
59995                 다른 사람들과 협력하여 주어진 임무를 완수해내는 능력이 뛰어남  cooperation     95

[59996 rows x 3 columns]

In [ ]:
df.to_csv('df_train.csv')

In [12]:
df_train1 = pd.DataFrame(columns=['phrase', 'aspect', 'score'])
df_train2 = pd.DataFrame(columns=['phrase', 'aspect', 'score'])
df_train3 = pd.DataFrame(columns=['phrase', 'aspect', 'score'])
df_train4 = pd.DataFrame(columns=['phrase', 'aspect', 'score'])
df_train5 = pd.DataFrame(columns=['phrase', 'aspect', 'score'])
df_train6 = pd.DataFrame(columns=['phrase', 'aspect', 'score'])

In [22]:
df_train1['phrase'] = df['diligence.1']
df_train2['phrase'] = df['leadership.1']
df_train3['phrase'] = df['responsibility.1']
df_train4['phrase'] = df['passion.1']
df_train5['phrase'] = df['conductivity/creativity.1']
df_train6['phrase'] = df['cooperation.1']

df_train1['aspect'] = 'diligence'
df_train2['aspect'] = 'leadership'
df_train3['aspect'] = 'responsibility'
df_train4['aspect'] = 'passion'
df_train5['aspect'] = "conductivity/creativity"
df_train6['aspect'] = "cooperation"

df_train1['score'] = df['diligence']
df_train2['score'] = df['leadership']
df_train3['score'] = df['responsibility']
df_train4['score'] = df['passion']
df_train5['score'] = df['conductivity/creativity']
df_train6['score'] = df['cooperation']

In [23]:
df_train = pd.concat([df_train1, df_train2, df_train3, df_train4, df_train5, df_train6])

In [24]:
df_train.dropna(subset=["phrase"], axis=0, inplace=True)

In [26]:
df_train.to_excel('df_train.xlsx', index=False)

In [28]:
df_train

                                                  phrase       aspect  score
0                  주어진 업무를 성실하게 수행하며, 정해진 기한내에 업무를 마무리 함    diligence   86.0
1                         성실하고 부지런하며, 맡은 바 임무를 완수하고자 노력함    diligence   86.0
2                                    매사에 열심히 일하는 모습이 돋보임    diligence  100.0
3                    정해진 시간보다 일찍 출근하고 늦게 퇴근하는 등 성실하게 근무함    diligence   66.0
4                          맡은 바 임무를 충실히 수행하며, 시간약속을 잘 지킴    diligence   81.0
...                                                  ...          ...    ...
14989                        다른 사람들과 협력하여 함께 일하는 것을 어려워함  cooperation   22.0
14993  다른 사람들과 함께 일하는 것을 좋아하며, 타인에게 도움을 주고자 하는 이타적인 성...  cooperation   55.0
14995            다른 사람들을 이해하고 배려할 줄 알며, 협력하여 좋은 결과를 이끌어냄  cooperation   65.0
14997           동료들과 협력하여 함께 목표를 달성하기 위해 노력하고, 적극적으로 참여함  cooperation   99.0
14998                 다른 사람들과 협력하여 주어진 임무를 완수해내는 능력이 뛰어남  cooperation   95.0

[59996 rows x 3 columns]